{% extends "base.html" %}

{% block body %}

<script src="static/main.js"></script>
<ul id="list" class="list-group">
        
</ul>
<button id="back" type="button" class="btn btn-primary btn-block btn-lg border border-dark fixed-bottom w-100 d-none">Back</button>
<div id="main_container" class="container d-block fixed-bottom w-100">
    <div id="screen" class="container-fluid h-100 text-light">
        <h4 id="screen_text"></h4>
        <p id="screen_comment">Welcome to culator 3!</p>
    </div>
</div>
{% endblock %}
